body.photos-page {
    background: $secondaryColor;
    padding-bottom: 200px;
    position: relative;
}


.photos-wrapper {
    padding: 30px;
    margin: 30px 0;
}

.photos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .photo-item {
        flex-basis: 33%;
        overflow: hidden;

        img {
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

}

.footer-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;

}


