body.video-page {
    background: $secondaryColor;
    
}


// .video-page__main {
//     background:#f1f1f1;
// }

.video-wrapper {
    text-align: center;
    padding:10px;
    margin-bottom: 30px;
    color: #fff;
}


.video-item {
    border-top:  2px solid #fff;
    padding: 20px 0;
    padding-bottom: 50px;
}

iframe {
    max-width: 100%;
}